@media screen and (max-width: 1366px){
    .container{
        max-width: 1200px;
    }

    .title-video{
        margin-top: -530px;
    }
    .title{
        max-width: 600px;
        font-size: 40px;
    }
    .description{
        font-size: 20px;
    }

}
@media screen and (max-width: 1280px){
    .container{
        max-width: 1100px;
    }

    .title-video{
        margin-top: -500px;
    }
    .title{
        max-width: 600px;
        font-size: 40px;
    }
    .description{
        font-size: 20px;
    }

}
@media screen and (max-width: 1200px){
    .container{
        max-width: 1000px;
    }

    .title-video{
        margin-top: -500px;
    }
    .title{
        max-width: 600px;
        font-size: 40px;
    }
    .description{
        font-size: 20px;
    }

}
@media screen and (max-width: 1024px){
    .container{
        max-width: 800px;
    }
    .header{
        height: 50px;
    }
    .nav-item{
        font-size: 12px;
    }
    .logo__img{
        width: 150px;
    }
    .btn{
        font-size: 12px;
        padding: 11px 24px;
    }
    .title-video{
        font-size: 36px;
        margin-top: -430px;
    }
    .description{
        font-size: 18px;
    }

}
@media screen and (max-width: 860px){
    .nav-item, .btn{
        font-size: 10px;
    }
    .btn{
        padding: 9px 18px;
    }
    .header{
        padding-bottom: 8px;
    }
    .container{
        max-width: 640px;
    }
    .logo__img{
        width: 100px;
        padding-top: 6px;
    }
    .title-video{
        margin-top: -320px;
    }
    .title{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .description{
        font-size: 16px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 670px){
    .nav-item, .btn{
        font-size: 10px;
    }
    .btn{
        padding: 9px 18px;
    }
    .header{
        padding-bottom: 8px;
    }
    .container{
        max-width: 580px;
    }
    .logo__img{
        width: 100px;
        padding-top: 6px;
    }
    .title-video{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -290px;
    }
    .title{
        text-align: center;
        width: 60%;
        font-size: 24px;
        margin-bottom: 30px;
    }
    .description{
        font-size: 14px;
        margin-bottom: 30px;
        width: 50%;
    }
    .buttons{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

    }
    .video-btn{
        width: 80%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 414px)and (max-height: 920px){
    .navigation{
        display: none;
    }
    .header{
        position: fixed;
        padding: 5px;
    }
    .container{
        max-width: 360px;
    }
    .header-container{
        justify-content: center;
    }
    .section_1-container{
        overflow: hidden;
    }
    .block-video{
        width: 360px;
        height: 560px;
        /*padding-top: 100px;*/
    }
    .videoback{
        margin-top: 300px;
        width: 600%;
    }
    .logo__img{
        width: 100px;
        padding-top: 6px;
    }
    .title-video{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -295px;
    }
    .title{
        text-align: right;
        width: 80%;
        font-size: 24px;
        margin-bottom: 60px;
        padding-left: 10px;
    }
    .description{
        font-size: 14px;
        text-align: right;
        margin-bottom: 100px;
        width: 80%;
        border-left: 0;
        border-right: 2px solid rgba(231, 181, 0, 0.7);
        padding-left: 0;
        padding-right: 5px;
    }
    .buttons{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 250px;

    }
    .video-btn{
        font-size: 20px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 360px){
    .navigation{
        display: none;
    }
    .header{
        position: fixed;
        padding: 5px;
    }
    .container{
        max-width: 360px;
    }
    .header-container{
        justify-content: center;
    }
    .section_1-container{
        overflow: hidden;
    }
    .block-video{
        width: 360px;
        height: 560px;
        /*padding-top: 100px;*/
    }
    .videoback{
        margin-top: 300px;
        width: 600%;
    }
    .logo__img{
        width: 100px;
        padding-top: 6px;
    }
    .title-video{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -340px;
    }
    .title{
        text-align: right;
        width: 80%;
        font-size: 24px;
        margin-bottom: 60px;
        padding-left: 10px;
    }
    .description{
        font-size: 14px;
        text-align: right;
        margin-bottom: 100px;
        width: 80%;
        border-left: 0;
        border-right: 2px solid rgba(231, 181, 0, 0.7);
        padding-left: 0;
        padding-right: 5px;
    }
    .buttons{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 250px;

    }
    .video-btn{
        font-size: 20px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }
}